:root {
  --primary-color: #eb2f64;
  --primary-color-light: #ff3366;
  --primary-color-dark: #ba265d;
  --secondary-color: #33ff4e;
  --color-grey-light1: #faf9f9;
  --color-grey-light2: #f4f2f2;
  --color-grey-light3: #f0eeee;
  --color-grey-light4: #ccc;
  --color-grey-dark1: #333;
  --color-grey-dark2: #777;
  --color-grey-dark3: #999;
  --line: solid 2px var(--secondary-color);
  --shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--color-grey-light1);
}

::selection {
  background-color: var(--primary-color);
  color: var(--color-grey-light1);
}

html {
  font-size: clamp(12px, 1rem, 4vmax);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    color: var(--primary-color-light);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    color: var(--primary-color-light);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.shared__animated-btn {
  border: none;
  color: var(--primary-color);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background: none;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shared__animated-btn:hover {
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.shared__animated-btn:focus {
  outline: none;
  color: var(--color-grey-dark1);
}

.container {
  padding: 8vh 8vw;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--primary-color-light)), to(var(--primary-color-dark)));
  background: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark));
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0;
  }
}

.header {
  background: #fff;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: calc(max(2rem, 4.5vw));
  margin-left: 2vw;
}

.header-search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-search__input {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  font-family: inherit;
  background-color: var(--color-grey-light2);
  border: none;
  color: inherit;
  padding: 0.5em 2em;
  border-radius: 200px;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-search__input:focus, .header-search__input:active {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light3);
}

.header-search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark3);
}

.header-search__button {
  border: none;
  background: none;
  position: relative;
  right: 10%;
}

.header-search__button:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.header-search__button_icon {
  height: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  width: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  fill: var(--color-grey-dark3);
}

.header-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-box {
  padding: 1vh 1vw;
  cursor: pointer;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-box:hover {
  background-color: var(--color-grey-dark3);
}

.header-nav-box__icon {
  height: calc(max(1.6rem, 2vw));
  width: calc(max(1.6rem, 2vw));
  fill: var(--color-grey-dark2);
}

.header-nav-box__notification {
  border-radius: 50%;
  height: calc(max(1.2rem, 35%));
  width: calc(max(1.2rem, 35%));
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  margin: 10% 10% 0 0;
  background: var(--primary-color);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-box-chat {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #000;
  width: 350%;
  top: 100%;
  left: -100%;
  -webkit-backdrop-filter: blur(30px) brightness(70%);
          backdrop-filter: blur(30px) brightness(70%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
  z-index: 100;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.1s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.1s;
  transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.header-nav-box-chat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-box-chat-item:not(:last-child) {
  border-bottom: var(--line);
}

.header-nav-box-chat-item > * {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header-nav-box-chat-item:hover > * {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-nav-box-chat-item__profilePic {
  width: calc(max(3rem, 3vw));
  height: calc(max(3rem, 3vw));
  border-radius: 50%;
}

.header-nav-box-chat-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-left: 0.5vw;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header-nav-box-chat-item__text_heading {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  color: var(--color-primary);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 1vh;
}

.header-nav-box-chat-item__text_message {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 0.7);
  line-height: 1em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #fff;
}

@media only screen and (hover: hover) {
  .header-nav-box:hover .header-nav-box-chat {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

.header-nav-box__userPhoto {
  width: calc(max(2rem, 3vw));
  height: calc(max(2rem, 3vw));
  border-radius: 50%;
  border: 0.2rem solid var(--color-grey-dark2);
}

.header-nav-box__userName {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  font-weight: 300;
  color: var(--color-grey-dark2);
  margin-left: .5em;
}

.header-nav-box:hover .header-nav-box__userName {
  color: white;
}

.header-nav-box-profile {
  position: absolute;
  width: 100%;
  list-style: none;
  color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 100;
  top: 100%;
  left: 0;
  -webkit-backdrop-filter: blur(30px) brightness(70%);
          backdrop-filter: blur(30px) brightness(70%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-nav-box-profile__item {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  width: 100%;
  padding: 0.8em 0;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 10;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header-nav-box-profile__item:not(:last-child) {
  border-bottom: var(--line);
}

.header-nav-box-profile__item:hover {
  color: white;
}

.header-nav-box-profile__item::before {
  content: "";
  position: absolute;
  z-index: -10;
  inset: 0% 0%;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.header-nav-box-profile__item:hover::before, .header-nav-box-profile__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
  z-index: -11;
}

.header-nav-box-profile__item:active::before {
  background-color: var(--primary-color-light);
}

@media only screen and (hover: hover) {
  .header-nav-box:hover .header-nav-box-profile {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media only screen and (max-width: 800px) {
  .header-nav-box-profile {
    display: none;
  }
  .header-nav-box-chat {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: calc(max(-webkit-min-content, 15vh));
    height: calc(max(-moz-min-content, 15vh));
    height: calc(max(min-content, 15vh));
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .header-search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0rem 2rem .2rem;
  }
  .header-nav-box__user-photo {
    border-radius: 50%;
    margin: 0;
  }
  .header-nav-box__user-name {
    display: none;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background: var(--color-grey-dark1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-nav {
  list-style: none;
  margin-top: 4vh;
  position: relative;
}

.sidebar-nav__link:link, .sidebar-nav__link:visited {
  text-align: center;
  color: var(--color-grey-light1);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  padding: 1em .8em;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-nav__link:hover {
  color: darkcyan;
}

.sidebar-nav__link::before {
  content: "";
  position: absolute;
  z-index: -10;
  inset: 0% 0%;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.sidebar-nav__link:hover::before, .sidebar-nav__link--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.sidebar-nav__link:active::before {
  background-color: var(--primary-color-light);
}

.sidebar-nav__link_icon {
  width: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  height: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  margin-right: 1.5vw;
  fill: currentColor;
}

.sidebar__legal {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  color: var(--color-grey-light4);
  text-align: center;
  padding: 0.4em;
}

.sidebar__legal_btn {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.sidebar__legal_btn:hover {
  color: var(--primary-color-light);
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
}

@media only screen and (max-width: 800px) {
  .sidebar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .sidebar-nav__link:link, .sidebar-nav__link:visited {
    margin-bottom: 0;
    padding: 0.9em 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar__legal {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar-nav__link:link, .sidebar-nav__link:visited {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar-nav__link_icon {
    margin-right: 0;
  }
}

.hotel-view {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__item_photo {
  width: 100%;
  display: block;
}

.overview {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: var(--line);
}

.overview__heading {
  font-size: calc(max(0rem, 0.3rem + 0.7vw) * 1.5);
  line-height: 1em;
  font-weight: 300;
  padding: 1em 0 1em .6em;
  letter-spacing: 0.1em;
  color: var(--color-grey-dark3);
  text-transform: uppercase;
}

.overview-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5vw;
  margin-right: auto;
}

.overview-stars__icon {
  width: calc(0.3rem + 0.7vw);
  height: calc(0.3rem + 0.7vw);
  fill: var(--primary-color);
}

.overview-location {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview-location__icon {
  width: 1.2em;
  height: 1.2em;
  fill: var(--primary-color);
}

.overview__rating {
  background-color: var(--primary-color);
  margin-left: calc(clamp(9px, max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1.6, 3vmax));
  color: #fff;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 1em 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.overview__rating_average {
  font-size: calc(clamp(9px, max(0.5rem + 0.5vw, 0.3rem + 0.7vw) * 1.6, 3vmax));
  line-height: 1.2em;
  font-weight: 300;
}

.overview__rating_count {
  font-size: calc(clamp(9px, max(0.5rem + 0.5vw, 0.3rem + 0.7vw) * .6, 3vmax));
  line-height: 1em;
  text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
  .overview {
    position: relative;
  }
  .overview__heading {
    margin-right: auto;
  }
  .overview-stars {
    position: absolute;
    top: 10%;
  }
  .overview__rating__count {
    display: none;
  }
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2vw;
  background-color: var(--color-grey-light1);
  border-bottom: var(--line);
}

@media only screen and (max-width: 600px) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 2vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 3vw;
}

.description__para {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  font-weight: 200;
  line-height: 1.2em;
}

.description__para:not(:last-of-type) {
  margin-bottom: 2vh;
}

.description-features {
  margin: 2vh 0;
  list-style: none;
  padding: 2vw 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description-features__item {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  line-height: 1em;
  margin-bottom: 1em;
}

.description-features__item::before {
  content: "";
  display: inline-block;
  width: 0.8vw;
  height: 0.8vw;
  margin-right: 0.1vw;
  background: url("../img/chevron-thin-right.svg");
  background-size: cover;
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  .description-features__item::before {
    background: var(--primary-color);
    -webkit-mask-image: url("../img/chevron-thin-right.svg");
            mask-image: url("../img/chevron-thin-right.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background-image: none;
  }
}

.description-recommend {
  color: var(--color-grey-dark3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-recommend__count {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  margin-right: auto;
}

.description-recommend__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-recommend__user_photos {
  height: calc(max(1.7rem, 3.2vw));
  width: calc(max(1.7rem, 3.2vw));
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: solid 0.3vw white;
}

.description-recommend__user_photos:not(:last-child) {
  margin-right: -1.2vw;
}

@media only screen and (max-width: 1024px) {
  .description-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    margin-right: 0;
    margin-bottom: 3vh;
  }
}

.reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__review {
  background-color: white;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 2vw;
  position: relative;
}

.reviews__review::before {
  content: "\201C";
  position: absolute;
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 15);
  top: 0.3em;
  left: -0.05em;
  color: var(--color-grey-light3);
  font-family: sans-serif;
  z-index: 1;
}

.reviews__review:not(:last-child) {
  margin-bottom: 3.5vw;
}

.reviews__review_text {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1.2em;
  font-weight: 200;
  margin-bottom: 1em;
  position: relative;
  z-index: 10;
}

.reviews__review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__review-user__photo {
  width: calc(max(2.5rem, 3.5vw));
  height: calc(max(2.5rem, 3.5vw));
  border-radius: 50%;
  margin-right: 2em;
}

.reviews__review-user__detail {
  margin-right: auto;
}

.reviews__review-user__detail_name {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.reviews__review-user__detail_date {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
  line-height: 1em;
  color: var(--color-grey-dark2);
}

.reviews__review-user__rating {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 2);
  color: var(--primary-color);
}

.reviews__btn {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
}

.reviews__btn__span {
  margin-left: 3px;
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}

.reviews__btn:hover span {
  margin-left: 8px;
}

.cta {
  padding: 3.5vh 0;
  text-align: center;
}

.cta__text {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 2);
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5vh;
}

.cta__btn {
  font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1.2);
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color-light)), to(var(--primary-color-dark)));
  background: linear-gradient(to right, var(--primary-color-light), var(--primary-color-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cta__btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cta__btn_visible {
  padding: 1em 3em;
}

.cta__btn_hidden {
  position: absolute;
  padding: 1em 0;
  top: -100%;
  left: 0%;
}

.cta__btn:hover {
  background: -webkit-gradient(linear, right top, left top, from(var(--primary-color-light)), to(var(--primary-color-dark)));
  background: linear-gradient(to left, var(--primary-color-light), var(--primary-color-dark));
}

.cta__btn:hover .cta__btn_visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cta__btn:hover .cta__btn_hidden {
  top: 0%;
}
