.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; //solely done for centering button
  
  &__review {
    background-color: white;
    box-shadow: var(--shadow);
    padding: 2vw;
    position: relative;
    // overflow: hidden;

    &::before {
      content: "\201C";
      position: absolute;
      font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 15);
      top: 0.3em;
      left: -0.05em;
      color: var(--color-grey-light3);
      font-family: sans-serif;
      z-index: 1;
    }

    &:not(:last-child) {
      margin-bottom: 3.5vw;
    }

    &_text {
      font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
      line-height: 1.2em;
      font-weight: 200;
      margin-bottom: 1em;
      position: relative;
      z-index: 10;
    }

    &-user {
      display: flex;
      align-items: center;

      &__photo {
        width: calc(max(2.5rem, 3.5vw));
        height: calc(max(2.5rem, 3.5vw));
        border-radius: 50%;
        margin-right: 2em;
      }

      &__detail {
        margin-right: auto;

        &_name {
          font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
          line-height: 1em;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 0.2em;
        }

        &_date {
          font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);
          line-height: 1em;
          color: var(--color-grey-dark2);
        }
      }

      &__rating {
        font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 2);
        color: var(--primary-color);
      }
    }
  }

  &__btn {
    font-size: calc(max(0.7rem + 0.3vw, 0.3rem + 0.7vw) * 1);

    &__span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      span {
        margin-left: 8px;
      }
    }
  }
}
