*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

::selection {
    background-color: var(--primary-color);
    color: var(--color-grey-light1);
}